:root {
	--accent: #ffd739;
	--dark-color: #232325;
	--light-color: #ffffff;
}

/*----------------*/
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

/*прижать футтер к низу страницы*/
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

/*----------------*/

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-title {
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
}

/*HEADER*/
.header__menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 0;
}

.menu__list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0 -10px;
}

.menu__item {}

.menu__link {
	display: inline-block;
	padding: 10px;
}

.menu__link:hover {
	text-decoration: underline;
}

/*MAIN*/
.main {
	flex: 1 1 auto;
	/*чтобы футер прижать*/
}

.main__name {}

.name {}

.name__title {}

.main-title {}

.main__photo {}

.main__img {}

/*FOOTER*/
.footer {
	height: 50px;
}